
*.cdb
*.rpt
*.qws
*.qsf
*.hdb
8/multiplier/rtl/db/andre.hier_info
*.rdb
*.txt
*.html
*.sci
*.tmw_info
*.dbs
*.do
*.do
*.bak
*.ini
*.prw
*.psm
*.wlf
*.dat
*.db_info
*.done
8/multiplier/rtl/incremental_db/README
8/multiplier/rtl/simulation/modelsim/msim_transcript
8/multiplier/rtl/simulation/modelsim/rtl_work/_info
8/multiplier/rtl/simulation/modelsim/rtl_work/_vmake
8/multiplier/rtl/simulation/modelsim/wlftjtvmqy
